# **************************************************
# .gitignore Template Base for Java Projects
#
# Created by Sinesio Carrillo
# **************************************************


##########################
## Java
##########################
*.class
.mtj.tmp/
*.jar
*.war
*.ear
*.nar
hs_err_pid*
replay_pid*

##########################
## Maven
##########################
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

##########################
## Gradle
##########################
.gradle
build/
gradle-app.setting
!gradle-wrapper.jar

##########################
## IntelliJ
##########################
*.iml
.idea/
*.ipr
*.iws
out/
.idea_modules/

##########################
## Eclipse
##########################
*.pydevproject
.metadata
.classpath
.project
.settings/
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
*.launch

##########################
## OS X
##########################
.DS_Store

##########################
## Plugins
##########################
# JIRA
atlassian-ide-plugin.xml

# Crashlytics
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# JDT-specific (Eclipse Java Development Tools)
.classpath

# PDT-specific
.buildpath

# sbteclipse plugin
.target

# TeXlipse plugin
.texlipse

# web application files
/web-app/WEB-INF/classes

# default HSQL database files for production mode
/prodDb.*

# general HSQL database files
*Db.properties
*Db.script

# logs
/stacktrace.log
/test/reports
/logs
*.log

# plugin release files
/plugin.xml

# older plugin install locations
/plugins
/web-app/plugins

# "temporary" build files
/target

# others
*.db
*.ctxt
*.zip
*.tar.gz
*.rar
*.7z
